@media(max-width: 1024px) {

    .hero .hero-content h2 {
        margin-top: 1rem;
    }

}

@media(max-width: 768px) {

    body {
        background: url('../images/bg-mobile.svg') no-repeat;
        background-size: cover;
    }

    .bg-container {
        padding: 5rem;
    }

    .header .logo {
        margin: 0 auto 8rem;
    }

    .hero {
        flex-direction: column;
    }

    .hero .img-hero {
        text-align: center;
    }

    .hero .hero-content {
        text-align: center;
        padding-bottom: 10rem;
    }

    .hero .hero-content h2 {
        font-size: 4rem;
        margin-top: 2rem;
    }

    .hero .hero-content p {
        font-size: 2.4rem;
        line-height: 1.5;
        max-width: 580px;
        padding-bottom: 20px;
    }

    .hero .hero-content .btn {
        font-size: 2rem;
        padding: 20px 125px;
    }

    .footer {
        justify-content: center;
    }

    .footer a i {
        width: 55px;
        height: 55px;
        font-size: 2.7rem;
    }
}

@media(max-width: 420px) {

    .bg-container {
        padding: 2rem;
    }

    .header .logo {
        width: 150px;
        margin-bottom: 1rem;
    }

    .hero .img-hero img {
        padding-top: 3rem;
        width: 300px;
    }

    .hero .hero-content h2 {
        font-size: 2.4rem;
        margin: 0;
    }

    .hero .hero-content p {
        font-size: 1.5rem;
        margin: 3rem 2.5rem;
    }

    .hero .hero-content .btn {
        font-size: 1.3rem;
        padding: 1.2rem 8rem;
    }

    .footer a i {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-size: 1.4rem;
        border: 1px solid #FFF;
        border-radius: 100%;
    }
}